<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://xmlns.jcp.org/xml/ns/javaee" xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_3_1.xsd" version="3.1">
  <display-name>CS13304</display-name>
  <welcome-file-list>
    <welcome-file>index.html</welcome-file>
    <welcome-file>index.htm</welcome-file>
    <welcome-file>index.jsp</welcome-file>
    <welcome-file>default.html</welcome-file>
    <welcome-file>default.htm</welcome-file>
    <welcome-file>default.jsp</welcome-file>
  </welcome-file-list>
  
  <!-- Definición de Servlets --> 
  <servlet>
    <servlet-name>HttpMethods</servlet-name>
    <servlet-class>me.jmll.HttpMethods</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>MethodsHttp</servlet-name>
    <servlet-class>me.jmll.HttpMethods</servlet-class>
  </servlet>
  
  <!-- Definición de URL patterns -->
  <servlet-mapping>
    <servlet-name>HttpMethods</servlet-name>
    <url-pattern>/Http</url-pattern>
    <url-pattern>/Http.xml</url-pattern>
    <url-pattern>/Http.aspx</url-pattern>
    <url-pattern>/Http.html</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>MethodsHttp</servlet-name>
    <url-pattern>/Methods</url-pattern>
    <url-pattern>/Methods.xml</url-pattern>
    <url-pattern>/Methods.aspx</url-pattern>
    <url-pattern>/Methods.html</url-pattern>
  </servlet-mapping>
</web-app>



